<div
  id="concart"
  class="hidden fixed h-2/3 w-2/5 bg-white shadow-lg rounded-sm z-50 left-96 top-40 translate-x-5 p-2 duration-500 transition-all"
>
  <div class="flex gap-x-3 relative">
    <div class="ml-3 flex h-7 items-center absolute z-50 right-1 top-1">
      <button
        id="closebutton1"
        type="button"
        class="relative -m-2 p-2 text-gray-400 hover:text-gray-500"
      >
        <span class="absolute -inset-0.5"></span>
        <span class="sr-only">Close panel</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <div
      class="flex h-64 w-[500px] bg-cover shadow-md"
      style="background-image: url('{data.image.url}')"
    ></div>
    <div class="font-semibold">
      <div class="font-bold text-lg mb-3">
        <div>{{data.productname}}</div>
        <div>{{data.brand}}</div>
      </div>
      <div>{{data.price}} <br /><span>Stock : {{data.stock}}</span></div>
      <div class="shadow-md pb-3 pl-2">
        <div class="font-semibold mt-5 mb-1">Color</div>
        <div class="flex flex-wrap gap-2">
          <div class="bg-blue-600 cursor-pointer px-5 rounded-sm text-white">
            biru
          </div>
          <div class="bg-blue-600 cursor-pointer px-5 rounded-sm text-white">
            biru
          </div>
          <div class="bg-blue-600 cursor-pointer px-5 rounded-sm text-white">
            biru
          </div>
          <div class="bg-blue-600 cursor-pointer px-5 rounded-sm text-white">
            biru
          </div>
          <div class="bg-blue-600 cursor-pointer px-5 rounded-sm text-white">
            biru
          </div>
          <div class="bg-blue-600 cursor-pointer px-5 rounded-sm text-white">
            biru
          </div>
          <div class="bg-blue-600 cursor-pointer px-5 rounded-sm text-white">
            biru
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-12">
    <div class="flex justify-between px-2 mb-2 pr-1">
      <div>Quantity</div>
      <div>
        <input type="number" class="w-10 pl-1 py-1" value="1" min="1" />
      </div>
    </div>
    <div
      class="bg-blue-500 text-white font-bold w-full rounded-md py-2 text-center cursor-pointer"
    >
      Add to Cart
    </div>
  </div>
</div>
